@CHARSET "ISO-8859-1";

#home-button {
  color: #fff;
  background-color: #0033A1;
}

#home-button:hover{
	opacity: 0.5;
}

.btn-custom {
  color: #FFF;
  background-color: #0033A1;
}

.navbar-burgerQueen {
    background-color: #BD0034;
    border: none;
}

.dropdown {
    margin-top: 10px;
    margin-right: 5px;
}


.dropdown button {
	border: none;
	background-color: transparent;
}

.dropdown-menu{
	background-color: #0033A1;
}

.dropdown-menu > li > a {
  color: #fff;
}

.container {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
}

.text-error{
	font-weight: bold;
	color: #FF0000;
}
